ANTHROPIC_API_KEY=your_value_here
ANTHROPIC_TOKEN=your_value_here
BROWSERBASE_ADVANCED_STEALTH=your_value_here
BROWSERBASE_PROXIES=your_value_here
BROWSER_INACTIVITY_TIMEOUT=your_value_here
BROWSER_SESSION_TIMEOUT=your_value_here
HASS_TOKEN=your_value_here
HASS_URL=your_value_here
HERMES_MAX_ITERATIONS=your_value_here
IMAGE_TOOLS_DEBUG=your_value_here
MOA_TOOLS_DEBUG=your_value_here
OPENROUTER_API_KEY=your_value_here
TELEGRAM_BOT_TOKEN=your_value_here
TERMINAL_LIFETIME_SECONDS=your_value_here
TERMINAL_MODAL_IMAGE=your_value_here
TERMINAL_TIMEOUT=your_value_here
VISION_TOOLS_DEBUG=your_value_here
WEB_TOOLS_DEBUG=your_value_here
WHATSAPP_ALLOWED_USERS=your_value_here
WHATSAPP_DEBUG=your_value_here
WHATSAPP_ENABLED=your_value_here
WHATSAPP_MODE=your_value_here
